* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

h1, h2{
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #f8b204;
}

.bem-vindo {
    background-color: #D9D9D9;
    text-align: center;
    height: 100px;
    padding: 50px;
    color: #3A3A3A;
}

.bem-vindo>hr {
    border-style: solid;
    width: 4rem;
    margin: auto;
}

.bem-vindo>h1   {
    margin-top: 4px;
    margin-bottom: 20px;
    font-weight: 700;
}

.bem-vindo>p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}


.slide {
    display: flex;
    justify-content: center;
    margin: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

main>div{
    width: 300px;
    margin: 10px 6rem;
}

main>div:nth-child(1)
{
    background-color: #B1C448;
}

main>div:nth-child(2)
{
    background-color: #FFCE33;
}

main>div>h2 {
    font-weight: normal;
    margin: 10px;
}

main>div>p {
    line-height: 2rem;
}

main>div>a {
    display: block;
    padding: 10px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 10px 90px;
}

.medicina-integrativa {
    margin: 5rem 8rem;
    padding: 10px;
    border: 4px dotted #A0D050;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.medicina-integrativa>div {
    padding: 1rem 0;
}

.medicina-integrativa>div>h1 {
    font-size: 2rem;
    color: #A0D050;
    font-weight: 100;
}

.medicina-integrativa>div>p {
    padding: 10px;
    line-height: 2rem;
}

.medicina-integrativa>div>hr {
    border-style: solid;
    width: 2rem;
    margin: 10px auto;
}


.medicina-integrativa>div:nth-child(1) {
    width: 100%;
    font-size: 1.1rem;
    font-weight: normal;
}

.medicina-integrativa>div:nth-child(2) {
    width: 70rem;
    font-size: 1.1rem;
    font-weight: normal;
}

.servicos {
    text-align: center;
}

.servicos>h1 {
    font-size: 2.4rem;
    color: #83817F;
}


.servicos>ul {
    margin: 4rem 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.servicos>ul>li>a {
    font-size: 2rem;
    display: block;
    padding: 2rem;
    color: #FFFFFF;
    background-color: #FFCE33;
    border: 3px dotted #D9D9D9;
}

.agende {
    display: flex;
    justify-content: space-between;
    background-color: #B1C448;
    color: #FFFFFF;
    text-align: center;
    height: 12rem;
    align-items: center;
    padding: 50 10em;
    margin-bottom: 20px;
}

.agende>div>h1 {
    font-size: 3rem;
}

.agende>div>a {
    display: block;
    padding: 10px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 10px 9rem;
}

.comentario>h1 {
    text-align: center;
    font-size: 2.4rem;
    color: #83817F;
}

.container-comentario {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
}

.container-comentario>div {
    width: 400px;
}

.container-comentario>div>img {
    width: 10rem;
}

.comentario-nome {
    padding: 1rem;
    font-size: 13px;
    font-weight: 600;
}

.comentario-text {
    font-weight: bold;
    font-size: 1rem;
}

.contato {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contato>div {
    width: 600px;
    height: 500px;
    margin: 1rem;
}

.contato>div:nth-child(1) {
    background-color: #B1C448;
    margin-left: 5rem;
}

.contato>div:nth-child(2) {
    background-color: #FFCE33;
    margin-right: 5rem;
}

.text-centro {
    text-align: center;
}

.contato-1>h1 {
    text-align: center;
    font-size: 2.5rem;
}


.contato-1>p {
    text-align: center;
    font-size: 1.4rem;
}

.contato-2>h1 {
    text-align: center;
    font-size: 2.3rem;
}

.contato-1>ul {
    width: 19rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.contato-1>ul>li {
    margin-top: 30px;
    font-size: 20px;
}

.contato-1>ul>li>img {
    width: 2rem;
}

.endereco {
    display: flex;
    width: 23rem;
    text-align: center;
    margin: 2rem 8rem;
}

.contato-2>img {
    margin-left: 2rem;
}

.formulario {
    background-color: #BFBFBF;
    width: 74.3rem;
    margin-left: 5rem;
    margin-bottom: 4rem;
    height: 25rem;
    padding: 10px;
}

.formulario>h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin: 0.4rem;
    opacity: 80%;
}

.formulario>p {
    text-align: center;
    margin: 10px;
    opacity: 60%;
}

.formulario>form {
    margin-top: 4rem;
    margin-left: 10rem;
}

.formulario>form>p {
    opacity: 80%;
    font-size: 1.2rem;
}

.formulario>form>input {
    margin-bottom: 10px;
    border:none;
}

.campo {
    width: 55rem;
    height: 2.4rem;
}

.botao {
    color: #FFFFFF;
    background-color: #FFCE33;
    width: 6rem;
    height: 2rem;
    font-size: 14px;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.instagram {
    text-align: center;
    margin-bottom: 40px;
}

.instagram>h1 {
    font-size: 2.4rem;
    color: #83817F;
}

.feed>ul {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botoes>a {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    margin: 0 10px;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
}

.botoes>a:nth-child(1) {
    background-color: #666666;
}

.botoes>a:nth-child(2) {
    display: flex;
    align-items: center;
    background-color: #408BD1;
}

.botoes>a>img {
    width: 18px;
}